In [8]:
# Importação das bibliotecas a serem utilizadas
import pandas as pd
import numpy as np
import yfinance as yf

Retorno das Ações componentes do SP100

In [9]:
# Ler arquivo de composição do S&P100
sp100_comp = pd.read_excel('SP100_Wiki.xlsx')
sp100_comp

    Código                 Nome                   Setor
0     AAPL                Apple  Information Technology
1     ABBV               AbbVie             Health Care
2      ABT  Abbott Laboratories             Health Care
3      ACN            Accenture  Information Technology
4     ADBE                Adobe  Information Technology
..     ...                  ...                     ...
96       V                 Visa  Information Technology
97      VZ              Verizon  Communication Services
98     WFC          Wells Fargo              Financials
99     WMT              Walmart        Consumer Staples
100    XOM           ExxonMobil                  Energy

[101 rows x 3 columns]

In [10]:
# Criação de uma lista contendo todas as ações listadas do índice
tickers = list(sp100_comp['Código'])
tickers

['AAPL',
 'ABBV',
 'ABT',
 'ACN',
 'ADBE',
 'AIG',
 'AMD',
 'AMGN',
 'AMT',
 'AMZN',
 'AVGO',
 'AXP',
 'BA',
 'BAC',
 'BK',
 'BKNG',
 'BLK',
 'BMY',
 'BRK-B',
 'C',
 'CAT',
 'CHTR',
 'CL',
 'CMCSA',
 'COF',
 'COP',
 'COST',
 'CRM',
 'CSCO',
 'CVS',
 'CVX',
 'DE',
 'DHR',
 'DIS',
 'DOW',
 'DUK',
 'EMR',
 'F',
 'FDX',
 'GD',
 'GE',
 'GILD',
 'GM',
 'GOOG',
 'GOOGL',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'INTU',
 'JNJ',
 'JPM',
 'KHC',
 'KO',
 'LIN',
 'LLY',
 'LMT',
 'LOW',
 'MA',
 'MCD',
 'MDLZ',
 'MDT',
 'MET',
 'META',
 'MMM',
 'MO',
 'MRK',
 'MS',
 'MSFT',
 'NEE',
 'NFLX',
 'NKE',
 'NVDA',
 'ORCL',
 'PEP',
 'PFE',
 'PG',
 'PM',
 'PYPL',
 'QCOM',
 'RTX',
 'SBUX',
 'SCHW',
 'SO',
 'SPG',
 'T',
 'TGT',
 'TMO',
 'TMUS',
 'TSLA',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB',
 'V',
 'VZ',
 'WFC',
 'WMT',
 'XOM']

In [11]:
# Fazer o download das cotações históricas nas datas solicitadas
returns = yf.download(tickers,'2023-12-28','2024-04-06')['Adj Close']

# Fazer o cálculo de variação % diária com base na coluna 'Adj Close'
returns = returns.apply(lambda x: (x / x.shift(1) - 1).fillna(0))

[*********************100%%**********************]  101 of 101 completed

In [12]:
# Visualização da tabela contendo retornos diários de todas as ações
returns.head()

,AAPL,ABBV,ABT,ACN,ADBE,AIG,AMD,AMGN,AMT,AMZN,...,TXN,UNH,UNP,UPS,USB,V,VZ,WFC,WMT,XOM
Date,,,,,,,,,,,,,,,,,,,,,
2023-12-28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2023-12-29,-0.005424,0.001422,-0.002989,-0.001934,0.001813,-0.001768,-0.009075,-0.001525,-0.005894,-0.009388,...,-0.007338,0.002991,-0.001626,-0.000509,-0.008022,-0.000192,0.005601,-0.005255,0.000508,-0.002096
2024-01-02,-0.035787,0.031296,-0.001999,-0.011370,-0.027707,0.016089,-0.059901,0.032533,0.013572,-0.013229,...,-0.007040,0.024446,-0.008916,0.007060,0.014556,-0.005685,0.031300,0.002235,0.010403,0.023805
2024-01-03,-0.007488,0.004004,-0.003004,-0.025943,-0.014274,-0.003341,-0.023524,0.011096,-0.018829,-0.009738,...,-0.014888,0.004988,-0.007107,-0.005052,-0.026418,-0.003438,0.007202,-0.013177,0.000063,0.008402
2024-01-04,-0.012700,0.006232,0.013331,-0.002456,-0.008290,0.000291,0.005099,0.008248,0.003587,-0.026268,...,-0.013614,0.006254,-0.002648,-0.003491,0.010760,0.006318,0.005363,0.012325,-0.009667,-0.008719

Retorno do SP100

In [13]:
# Download das cotações históricas do SP100
sp100_returns = pd.DataFrame(yf.download('^SP100','2023-12-28','2024-04-06')['Adj Close'])

# Fazer o cálculo de variação % diária com base na coluna 'Adj Close'
sp100_returns = sp100_returns.apply(lambda x: (x / x.shift(1) - 1).fillna(0))
sp100_returns

[*********************100%%**********************]  1 of 1 completed

            Adj Close
Date
2023-12-28   0.000000
2023-12-29  -0.002787
2024-01-02  -0.006587
2024-01-03  -0.005600
2024-01-04  -0.004255
...               ...
2024-04-01  -0.000690
2024-04-02  -0.006588
2024-04-03   0.000581
2024-04-04  -0.012935
2024-04-05   0.011891

[68 rows x 1 columns]