# Atividades NumPy

NumPy é um pacote extremamente interessante e necessário de aprender pois ele é o que está por trás de diversos pacotes mais avançados (alguns que veremos) do Pyhon. Alguns desses pacotes incluem o Pandas, Seaborn, Scikit-Learn e Tensorflow.

A seguir serão passadas algumas atividades simples para a fixação do conteúdo.

In [87]:
#Rode esse código para usar o numpy, sinta-se livre para alterá-lo.
import numpy as np

## Atividade 1

Crie um Array que vá do número 2017 até 2024. Comente qual a principal diferença de um array para uma lista? Printe o tipo do array e o tipo dos elementos do array. Transforme esse array num array bidimensional.

Desafio:
Mude o tipo dos elementos array para o que ocupe menos memória possível sem alterar os elementos do array.

In [88]:
array1 = np.arange(2017,2025)

print(array1)
print(type(array1))
print(type(array1[0]))

[2017 2018 2019 2020 2021 2022 2023 2024]
<class 'numpy.ndarray'>
<class 'numpy.int32'>

In [89]:
array_bidi = array1.reshape(-1,1)
print(array_bidi)

[[2017]
 [2018]
 [2019]
 [2020]
 [2021]
 [2022]
 [2023]
 [2024]]

In [90]:
array = array1.astype(np.uint16)
array

array([2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024], dtype=uint16)

## Atividade 2

1.   Crie um array de números aleatórios entre 0 e 10;
2.   Defina um valor limite de 0 a 10, por exemplo, 4;
3.   Encontre os índices dos elementos maiores do que o valor limite;
4.   Acessar os valores dos elementos maiores do que o valor limite;
5.   Substitua os valores maiores que o limite por 0.

In [91]:
array2 = np.random.randint(0,11,50)
array2

array([10,  2,  0,  8,  8,  4,  7, 10,  3,  9,  8,  6, 10,  1,  2,  2,  8,
       10,  7, 10, 10,  3,  0,  4, 10,  7,  3,  5,  9,  4,  5,  7,  1,  6,
        1,  9,  8,  3,  8, 10,  2,  0,  9,  2,  3,  9,  7,  5,  4,  9])

In [92]:
limite = 4
bigger_index = np.where(array2 > limite)
bigger_index

(array([ 0,  3,  4,  6,  7,  9, 10, 11, 12, 16, 17, 18, 19, 20, 24, 25, 27,
        28, 30, 31, 33, 35, 36, 38, 39, 42, 45, 46, 47, 49], dtype=int64),)

In [93]:
bigger_values = array2[bigger_index]
bigger_values

array([10,  8,  8,  7, 10,  9,  8,  6, 10,  8, 10,  7, 10, 10, 10,  7,  5,
        9,  5,  7,  6,  9,  8,  8, 10,  9,  9,  7,  5,  9])

In [94]:
array2[array2 > limite] = 0
array2

array([0, 2, 0, 0, 0, 4, 0, 0, 3, 0, 0, 0, 0, 1, 2, 2, 0, 0, 0, 0, 0, 3,
       0, 4, 0, 0, 3, 0, 0, 4, 0, 0, 1, 0, 1, 0, 0, 3, 0, 0, 2, 0, 0, 2,
       3, 0, 0, 0, 4, 0])

## Atividade 3

Foi adicionado uma lista para representar as vendas mensais de três empresas ao longo do ano.


1.   Transforme essa lista em Array;
2.   Calcule o valor minimo, maximo e medio da lista;
3.   Calcule a soma de cada mês e adicione uma coluna com esses resultados;
4.   Calcule a média de cada empresa (e da soma) e adicione como linha final;
5.   Remova as agregações;
6.   Separe o array em 4 arrays de trimestres.
7.   Faça as vendas esperadas para o ano seguinte. Espera-se que o primeiro trimestre terá um crescimento de 5%, 15% para o segundo trimestre, queda de 5% para o terceiro trimestre e crescimento de 20% para o último trimestre.
8. Junte esses arrays em um novo array, mantendo a separação por trimestre.

Desafio: Faça as vendas esperadas através da multiplicação do array de vendas trimestrais pelo array de crescimento. Transforme o array resultante para que ele tenha o mesmo shape do array original.

Espera-se Split, Stack, Concatenate e Delete.

In [77]:
vendas_mensais= [
    [10000, 15000, 20000],  # Janeiro
    [11000, 14000, 22000],  # Fevereiro
    [12000, 16000, 21000],  # Março
    [10500, 15500, 21500],  # Abril
    [11500, 14500, 22500],  # Maio
    [12500, 16500, 20500],  # Junho
    [13000, 17000, 19500],  # Julho
    [13500, 17500, 18500],  # Agosto
    [14000, 18000, 17500],  # Setembro
    [14500, 18500, 16500],  # Outubro
    [15000, 19000, 15500],  # Novembro
    [15500, 19500, 14500]   # Dezembro
]

## Atividade 4

Crie um array com o nome de todos os membros do grupo. Uilize das propriedades do Numpy para deixar todos os nomes em letras maiúsculas.

In [95]:
nomes = np.array(['Arthur','Isabelle','Marcelo','Carem','Marina'])
nomes

array(['Arthur', 'Isabelle', 'Marcelo', 'Carem', 'Marina'], dtype='<U8')

In [96]:
nomes_maiusculas = np.char.upper(nomes)
nomes_maiusculas

array(['ARTHUR', 'ISABELLE', 'MARCELO', 'CAREM', 'MARINA'], dtype='<U8')

## Atividade 5

Considerando manhã = 1 e tarde = 2, concatene o número do turno mais o número do grupo. Defina esse número como a seed. Crie uma sequencia de 10 números aleatorios entre 0 e 1. Calcule quantos desses são maiores que 0.5. Agora crie uma sequencia novamente. Essa sequencia é igual a primeira? Se não, crie uma sequencia "aleatória" novamente que tenha os mesmos números da primeira sequência. O que acontece se é repetido o código novamente?